@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&family=Afacad:wght@400;500;700&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #E3DBC7;
    color: #130713;
    font-family: 'Afacad', sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box; 
}


.card p {
    color: #E3DBC7;
    font-size: 1em;
    text-align: left;
}

a {
    text-decoration: none;
    color: #102246;
    transition: color 0.3s ease;
    font-size: 1em;
}

a:hover {
    color: #B93109;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%; 
}

.logo-fauvismo .logo-img {
    height: 100px;
    width: auto;
}

.nav-icons-container {
    display: flex;
    align-items: center;
    gap: 30px; 
}

.boton-usuario .icono-user,
.boton-search .icono-search {
    height: 50px;
    border-radius: 50%;
    width: auto;
}
.boton-fav .icono-fav {
    height: 40px;
    border-radius: 50px;
    width: auto;
}

.menu-toggle, .burger, .close-boton {
    display: none;
}

.desktop-menu-list {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.desktop-menu-list a {
    color: #130713;
    font-weight: 500;
    font-size: 1.5em;
}


/* --------------Estilos de la sección HERO---------- */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('3la_alegria_de_vivir-matisse.webp');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px 5%; 
    color: #f2f2f2;
}

.hero-content p {
    font-size: 1.2em;
}

.hero h1 {
    font-size: 2.5rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #f2f2f2;
    font-family: 'Young Serif', serif;
}

.cta-button {
    background-color: #B93109;
    color: #E3DBC7;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
}


.sections-preview, .legacy-section, .galeria-section {
    padding: 50px 5%; 
    text-align: center;
}

.sections-preview h2, .legacy-section h2, .galeria-section h2 {
    font-family: 'Young Serif', serif;
    font-size: 2em; 
    color: #130713;
    text-align: left; 
}

.card h3 {
    font-family: 'Young Serif',serif;
    color: #f2f2f2;
    font-size: 1.5em; 
    font-weight: 300;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px;
    margin-top: 40px;
}

.card {
    background-color: #102246;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    flex: 1; 
    min-width: 250px; 
}

.read-more {
    color: #d9bf73;
    font-weight: 700;
}

.legacy-section p {
    font-size: 1.2em;
    text-align: left;
}

.learn-more {
    background-color: #B93109;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1.2em;
    color: #f2f2f2;
    font-weight: 500;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

footer {
    background-color: #102246;
    color: #E3DBC7;
    text-align: center;
    padding: 20px 5%;
    font-size: 0.9rem;
}

.footer-link{
    color: #E3DBC7;
    font-size: 0.9rem;
}


/*-------------------- Estilos de la sección Filosofía --------------------------*/


.filosofia-seccion h1 {
    font-family: 'Young Serif', serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 40px 0;
    color: #130713;
}

.caracteristica {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
    gap: 40px;
    background-color: #d9c07391;
}

.texto-izquierdo, .texto-derecho {
    flex: 1;
    text-align: left;
}

.texto-izquierdo h2, .texto-derecho h2 {
    font-family: 'Young Serif', serif;
    font-size: 2em;
    color: #102246;
    margin-top: 0;
}

.texto-izquierdo p, .texto-derecho p {
    font-size: 1.2em;
    color: #130713;
    margin-right: 30px;
}

.imagen-derecha, .imagen-izquierda{
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin: 20px;
}

.imagen-derecha img, .imagen-izquierda img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.imagen-derecha img:hover, .imagen-izquierda img:hover {
    transform: scale(1.05);
}

.caracteristica:nth-child(even) {
    flex-direction: row-reverse;
}


/*------------------------- Sección de Artistas------------------------------ */

.artists-section {
    background-color: #d9c073b7;
    padding: 50px;
}

.artists-section h2 {
    margin: 1em 0;
    text-align: left;
    font-family: 'Young Serif', serif;
    font-size: 2em;
    color: #102246;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-items: center;
    gap: 30px;
    margin: 20px 0;
}


.artist-card {
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 450px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    cursor: pointer;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.artist-card.is-active .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.card-front {
    background-color: #102246;
    color: black;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-back {
    background-color: #102246;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.card-back h3 {
    margin-top: 20px;
    text-align: left;
    font-family: 'Young Serif', serif;
    font-size: 1.5em;
    font-weight: 300;
}

.card-back p {
    text-align: left;
    font-size: 1em;
    margin: 15px;
}

/*---------------------------- Sección del Carrusel------------------------------- */


.carousel-section {
    background-color: #102246;
    padding: 50px 0;
}

.carousel-section h2 {
    font-family: 'Young Serif', serif;
    font-size: 2em;
    margin-left: 5%;
    color: #f2f2f2;
}

.carousel-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.carousel-container {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px;
    gap: 20px;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel-item {
    scroll-snap-align: center;
    flex-shrink: 0;
    width: 300px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #130713;
    font-size: 2.5em;
    cursor: pointer;
    z-index: 10;
    background-color: rgba(227, 219, 199, 0.7);
    border-radius: 50%;
    padding: 10px;
}

.carousel-arrow.left {
    left: 10px;
}

.carousel-arrow.right {
    right: 10px;
}


/* ----------------------------Sección de la Galería-------------------------- */


.galeria-section {
    text-align: center;
    padding: 40px 5%; 
    background-color: #102246;
}

.galeria-section h2 {
    font-size: 2.5rem;
    color: #f2f2f2;
    margin-bottom: 30px;
    font-family: 'Young Serif',serif;
    font-weight: 700;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
}

.gallery-item {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: filter 0.3s ease;
}

.gallery-item:hover img {
    filter: brightness(0.7);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

.overlay-text {
    text-align: center;
    padding: 20px;
    color: #f2f2f2;
}

.overlay-text h3 {
    margin: 0 0 5px;
    font-size: 1.5rem;
}

.overlay-text p {
    margin: 0;
    font-size: 1rem;
}


/* ------------------------Estilos para el Lightbox--------------------------- */


.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.lightbox-content {
    position: relative;
    max-width: 90%;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.lightbox-content img {
    max-width: 100%;
    max-height: 70vh;
    border-radius: 8px;
    margin-bottom: 20px;
}

.lightbox-info {
    text-align: center;
    color: #130713;
    max-width: 600px;
}

.lightbox-info p {
    margin: 5px 0;
    line-height: 1.5;
}

.lightbox-info p:first-child {
    font-weight: bold;
    font-size: 1.5rem;
    color: #102246;
}

.lightbox-close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}



.lightbox-prev, .lightbox-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0,0,0,0.5);
    border-radius: 50%;
    opacity: 0.8;
}

.lightbox-prev:hover, .lightbox-next:hover {
    background-color: rgba(0,0,0,0.8);
    opacity: 1;
}

/*------------INFLUENCIAS-----------*/

#influencias {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 0 80px 0;
    color:#130713;
}

.main-title {
    font-size: 2em;
    color: #130713;
    text-align: right;
    margin-bottom: 80px;
    border-bottom: 2px solid var(--color-accent-fauve-1);
    display: inline-block;
    padding-bottom: 5px;
}

.content-separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-divider);
    margin: 50px 0;
}


.main-influence-layout {
    display: flex;
    gap: 40px;
    align-items: flex-start; 
}


.image-stack-container {
    flex: 1;
    min-width: 300px; 
    position: relative;
    padding: 60px; 
    height: 450px; 
}

.stacked-image {
width: 250px; 
    height: 250px;
    position: absolute;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.4); 
    border-radius: 15px; 
    display: flex;
    align-items: center;
    justify-content: center;
    
   
    font-size: 8rem; 
    font-family: initial; 
    font-weight: normal; 
    text-shadow: none; 

  
    
    
    transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.4s ease;
}

.stacked-image:nth-child(1) {
    top: 0;
    left: 0;
    transform: rotate(-25deg);
    background-color:#b932096c;
    z-index: 3;
}
.stacked-image:nth-child(2) {
    top: 50px;
    left: 50px;
    transform: rotate(10deg); 
    background-color:#10224663;
    z-index: 2;
}
.stacked-image:nth-child(3) {
    top: 100px;
    left: 100px;
    transform: rotate(-15deg); 
    background-color:#d9c0737e;
    z-index: 1;
}


.text-block {
    flex: 2;
    line-height: 1.7;
    text-align: justify;
    padding-top: 10px;
    font-family: 'Afacad', sans-serif;
    background-color: #d9bf73;
    padding: 40px;
    border-radius: 30px;
}



.two-column-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.single-block-layout {
    display: grid;
    grid-template-columns: 1fr;
}

.column-block {
    background-color:#b932095b;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.block-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.block-header img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
    border: 3px solid var(--color-accent-fauve-2); 
}

.block-header h3 {
    margin: 0;
    color: var(--color-accent-fauve-1);
    font-family: 'Young Serif', serif;
    font-size: 1.4rem;
}

.column-block p {
    font-size: 0.95rem;
    line-height: 1.6;
    font-family: 'Afacad', sans-serif;
    color:#130713;
}



.column-block {
    
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}


.column-block:hover {
    
    transform: translateY(-5px); 
    
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    
    border-left: 5px solid var(--color-accent-fauve-1); 
    cursor: pointer;
}


.block-header img {
    
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.column-block:hover .block-header img {
    
    transform: rotate(3deg) scale(1.05); 
    
    border: 3px solid var(--color-accent-fauve-1); 
}


.stacked-image {
    
    transition: transform 0.4s ease-in-out;
}


.image-stack-container:hover .stacked-image:nth-child(1) {
    transform: rotate(-30deg) translate(-20px, -20px); 
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5); 
}

.image-stack-container:hover .stacked-image:nth-child(2) {
    transform: rotate(0deg) scale(1.1); 
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.image-stack-container:hover .stacked-image:nth-child(3) {
    transform: rotate(20deg) translate(20px, 20px); 
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.image-stack-container {
    cursor: pointer;
}





/* ======================================= */
/* ESTILOS FAUVISMO: RECURSOS Y CURIOSIDADES */
/* ======================================= */

#recursos-curiosidades {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding-bottom: 80px;
    color: #E3DBC7;
}

.main-title-3{
    color: #130713;
    font-family: 'Young Serif', serif;
    margin-bottom: 50px;
    text-align: left;
}

.section-subtitle {
    font-family: 'Young Serif', serif;
    font-size: 1.9rem;
    text-align: center;
    color: #130713; 
    margin: 40px 0 25px 0;
    text-align: left;
}

/* ---------------------------------- */
/* 1. SECCIÓN: CURIOSIDADES (4 Bloques) */
/* ---------------------------------- */

.curiosidades-grid {
    display: grid;
    /* Grid de 4 columnas en desktop */
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    text-align: center;
}

.curiosidad-card {
    background-color: #102246;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.curiosidad-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.card-icon {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.card-title {
    font-size: 1.5rem;
    color: var(--color-accent-fauve-1);
    margin-bottom: 10px;
}

.curiosidad-card p {
    font-size: 0.85rem;
    line-height: 1.4;
    text-align: left;
}

/* ---------------------------------- */
/* 2. SECCIÓN: VIDEOS (2 Bloques) */
/* ---------------------------------- */

.videos-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 30px 0;
}

.video-block {
    flex: 1;
    max-width: 500px;
    background-color: var(--color-block-bg);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-placeholder {
    /* Simula el aspecto de un video embedido (16:9) */
    width: 100%;
    padding-top: 56.25%; /* Relación de aspecto 16:9 */
    background-color: var(--color-accent-fauve-2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.video-caption {
    padding: 10px 15px;
    text-align: center;
    font-size: 0.9rem;
    margin: 0;
}

/* ---------------------------------- */
/* 3. SECCIÓN: ENLACES A MUSEOS (4 Enlaces) */
/* ---------------------------------- */
.links-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    max-width: 700px;
    margin: 0 auto;
}

.link-column {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


.museum-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px; 
    background-color:#102246;
    border: 2px solid var(--color-accent-fauve-2); 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: none; 
    text-decoration: none;
    color: var(--color-text-primary);
    transition: all 0.3s ease;
}

.museum-link:hover {
    color: #1b3a77;
    transform: translateY(-3px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    background-color: #d9bf73;
}

.link-text {
    font-family: 'Afacad', sans-serif;
    font-weight: 700; 
}

.link-icon {
    color: var(--color-accent-fauve-1); 
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.museum-link:hover .link-icon {
    transform: translateX(3px); 
}


/* ---------------------------------- */
/* 4. SECCIÓN: FORMULARIO DE CONTACTO */
/* ---------------------------------- */

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #b9320991;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-top: 5px 
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group.full-width {
    grid-column: 1 / -1;
}

.contact-form label {
    font-family: 'Afacad', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    color: #f2f2f2;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 12px;
    border: 1px solid var(--color-divider);
    border-radius: 5px;
    font-family: 'Afacad', sans-serif;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
}

.submit-button {
    background-color: #B93109;
    color: #f2f2f2;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Young Serif', serif;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}

.submit-button:hover {
    background-color: #1b3a77; 
    transform: translateY(-2px);
}



/* =================================== */
/* ESTILOS FAUVISMO: PÁGINA DE LOGIN */
/* =================================== */

#login-section {
    width: 90%;
    max-width: 1200px;
    margin: 60px auto;
    padding-bottom: 80px;
    color: var(--color-text-primary);
    text-align: center;
}

.login-container {
    max-width: 400px;
    margin: 40px auto 0;
    padding: 30px;
    background-color: #d9c073bb;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

}

.login-form h2 {
    font-family: 'Young Serif', serif;
    font-size: 1.5rem;
    color: var(--color-accent-fauve-2);
    margin-bottom: 25px;
}


.login-form .form-group {
    margin-bottom: 20px;
    text-align: left;
}
.login-form label {
    font-family: 'Afacad', sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    color: #130713;
    display: block;
}
.login-form input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    font-family: 'Afacad', sans-serif;
    font-size: 1rem;
}

.login-button {
    margin-top: 15px;
    margin-bottom: 10px;
}

.forgot-password-link {
    display: block;
    font-size: 0.9rem;
    text-decoration: none;
    margin-bottom: 25px;
}
.forgot-password-link:hover {
    color: var(--color-accent-fauve-2);
    text-decoration: underline;
}

/* ---------------------------------- */
/* Estilos de Redes Sociales */
/* ---------------------------------- */

.social-login-separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 25px 0;
}

.separator-line {
    flex-grow: 1;
    height: 1px;
    background-color: var(--color-divider);
}

.separator-text {
    padding: 0 15px;
    font-size: 0.9rem;
    font-family: 'Afacad', sans-serif;
}

.social-login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social-button {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid var(--color-divider);
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Afacad', sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Estilos específicos para los botones sociales */
.google-button {
    background-color: white;
    color: var(--color-text-primary);
}
.google-button:hover { 
    background-color: #f0f0f091;
}

.apple-button {
    background-color: #00000088;
    color: white;
    border: 1px solid #000000;
}
.apple-button:hover {
    background-color: #333333;
}

.register-link {
    margin-top: 30px;
    font-size: 0.95rem;
}
.register-link a {
    color: var(--color-accent-fauve-2);
    text-decoration: none;
}
.register-link a:hover {
    text-decoration: underline;

}

